@import './utils/variables';

@import './base/base';

@import './layout/header';
@import './layout/header-menu';
@import './layout/menu';
@import './layout/footer';
@import './layout/loader';

@import './pages/homepage';

@import './components/button';
@import './components/icons';
