.header-menu{
    display: flex;
    align-items: center;
    width: 100%;
    & .logo{
        display: flex;
        justify-content: center;
        width: 100%;
        & img{
            width: 50%;
            padding: 15px;
        }
    }
    & i{
        margin-left: 20px;
        font-size: 20px;
    }
}