@keyframes ring {
    0%{
      transform: rotate(0deg);
      box-shadow: 1px 5px 2px $primary;
    }
    50%{
      transform: rotate(180deg);
      box-shadow: 1px 5px 2px $secondary;
    }
    100%{
      transform: rotate(360deg);
      box-shadow: 1px 5px 2px $tertiary;
    }
}
@keyframes text {
    50%{
      color: white;
    }
  }
@keyframes disappear {
    0%{
      opacity: 1;
    }
    50%{
        opacity: 0.5;
      }
    100%{
        opacity: 0;
        z-index: -1;
    }
  }
.loading{
    z-index: 1;
    background-color: white;
    opacity: 0.9 ;
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    inset: 0;
    height: 100vh;
    animation: disappear 1s ;
    animation-fill-mode:forwards;
    animation-delay: 3s;
    & .ring{
        position: absolute;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        animation: ring 3s linear ;
        
        &::before{
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            border-radius: 50%;
            box-shadow: 0 0 5px rgba(255, 255, 255, 3);
        }
    }
    & span{
        color: $primary;
        font-size: 20px;
        font-family:'Shrikhand' ;
        text-transform: uppercase;
        animation: text 3s ease-in-out;
    }
}