
.background-image{
    width: 100%;
    height: 250px;
    & img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
.container-Menu{
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 20px 20px 0 0;
    margin-top: -30px;
    z-index: 1;
    position: relative;
    & .container-Menu__title{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        }
        & h1{
            font-family: 'Shrikhand';
            margin: 0;
        }
    & .entrees-plats-desserts{
        margin-left: 10px;
        font-size: 17px;
        font-weight: 300;
    }
    & .bar{
        margin-top: -10px;
        margin-bottom: 15px;
        margin-left: 10px;
        height: 3px;
        width: 40px;
        background-color: #99E2D0;
    }
    & .block-menu-card{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    & .menu-card{
        width: 100%;
        height: 55px;
        background-color: white;
        border-radius: 20px;
        padding: 5px;
        box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.103);
        &:hover{
            transform: scale(1.01);
            transition: 300ms;
        }
        & .menu-card-row{
            display: flex;
            flex-direction:row ;
            justify-content: space-between;
        }
        & h3,p{
            margin: 4px;
        }
    }
    & .menu-check{
        display: flex;
        align-items: center;
        height: 70px;
        background-color: #99E2D0;
    }
}