
.background-image{
    width: 100%;
    height: 250px;
    & img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
.container-Menu{
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 20px 20px 0 0;
    margin-top: -30px;
    z-index: 1;
    position: relative;
    & .container-Menu__title{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        }
        & h1{
            font-family: 'Shrikhand';
            margin: 0;
        }
    & .entrees-plats-desserts{
        margin-left: 10px;
        font-size: 17px;
        font-weight: 300;
    }
    & .bar{
        margin-top: -10px;
        margin-bottom: 15px;
        margin-left: 10px;
        height: 3px;
        width: 40px;
        background-color: #99E2D0;
    }
    & .block-menu-card{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 1px 2px 16px -3px #00000037;
        animation: fadein 2s;
    }
    & .menu-card{
        width: 100%;
        height: 55px;
        background-color: white;
        padding: 5px;
        & .menu-card-row{
            display: flex;
            flex-direction:row ;
            justify-content: space-between;
            & .overflow-ellipsis{
                text-overflow: ellipsis;
            }
        }
        & h3,p{
            margin: 4px;
        }
    }
    & .menu-check{
        height: 65px;
        width: 0px;
        transition: width 1s;
        color: white;
        background-color: #99E2D0;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .block-menu-card:hover .menu-check{
        width: 70px;
    }
}