/*------Colories------*/
* {
  list-style: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif; }

body {
  max-width: 768px;
  margin: 0 auto; }

a {
  color: inherit; }

header {
  width: 100%; }
  header .logo {
    display: flex;
    justify-content: center; }
    header .logo img {
      width: 50%;
      padding: 15px; }
  header .localisation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EDEDED;
    box-shadow: inset 0px 3px 7px -6px rgba(0, 0, 0, 0.589); }
    header .localisation i {
      margin-right: 15px; }

.header-menu {
  display: flex;
  align-items: center;
  width: 100%; }
  .header-menu .logo {
    display: flex;
    justify-content: center;
    width: 100%; }
    .header-menu .logo img {
      width: 50%;
      padding: 15px; }
  .header-menu i {
    margin-left: 20px;
    font-size: 20px; }

.background-image {
  width: 100%;
  height: 250px; }
  .background-image img {
    object-fit: cover;
    width: 100%;
    height: 100%; }

.container-Menu {
  background-color: #f7f7f7;
  margin-top: -0px;
  padding: 20px;
  border-radius: 20px 20px 0 0; }
  .container-Menu .container-Menu__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px; }
  .container-Menu h1 {
    font-family: 'Shrikhand';
    margin: 0; }
  .container-Menu .entrees-plats-desserts {
    margin-left: 10px;
    font-size: 17px;
    font-weight: 300; }
  .container-Menu .bar {
    margin-top: -10px;
    margin-bottom: 15px;
    margin-left: 10px;
    height: 3px;
    width: 40px;
    background-color: #99E2D0; }
  .container-Menu .menu-card {
    background-color: white;
    border-radius: 20px;
    padding: 5px; }
    .container-Menu .menu-card .menu-card-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
    .container-Menu .menu-card h3, .container-Menu .menu-card p {
      margin: 4px; }

footer {
  background-color: #343434;
  color: white;
  padding: 20px; }
  footer h3 {
    font-family: 'Shrikhand';
    font-size: 17px; }
  footer ul {
    padding: 0;
    margin: 0; }
    footer ul li {
      margin-bottom: 5px; }
      footer ul li i {
        margin-right: 10px; }

@keyframes ring {
  0% {
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #9356DC; }
  50% {
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px #FF79DA; }
  100% {
    transform: rotate(360deg);
    box-shadow: 1px 5px 2px #99E2D0;
    z-index: 0; } }
@keyframes text {
  50% {
    color: white; } }
@keyframes disappear {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 0; } }
.loading {
  background-color: white;
  opacity: 0.9;
  display: flex;
  position: fixed;
  inset: 0;
  height: 100vh;
  animation: disappear 1s;
  animation-fill-mode: forwards;
  animation-delay: 3s; }
  .loading .ring {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: ring 3s linear; }
    .loading .ring::before {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      box-shadow: 0 0 5px white; }
  .loading span {
    color: #9356DC;
    font-size: 20px;
    font-family: "Shrikhand";
    text-transform: uppercase;
    animation: text 3s ease-in-out; }

.container1 {
  padding: 30px 10px 60px 10px;
  text-align: center;
  background-color: #F7F7F7; }
  .container1 h1 {
    font-size: 30px; }
  .container1 p {
    font-size: 20px;
    font-weight: 100; }

.container2 {
  padding: 30px 30px 60px 30px; }
  .container2 h2 {
    font-size: 30px; }
  .container2 .block-step {
    display: flex;
    flex-direction: column; }
    .container2 .block-step .step {
      background-color: #F7F7F7;
      border-radius: 20px;
      box-shadow: 0px 3px 10px 2px #00000027;
      margin: 15px 0 15px 10px;
      padding: 15px 0 15px 0; }
      .container2 .block-step .step:last-child {
        background-color: #f2eafb; }
      .container2 .block-step .step .step-content {
        display: flex;
        flex-direction: row;
        align-items: center; }
        .container2 .block-step .step .step-content #step-number {
          background-color: #9356DC;
          color: white;
          padding: 5px 10px;
          border-radius: 100px;
          margin-left: -15px; }
        .container2 .block-step .step .step-content i {
          color: rgba(0, 0, 0, 0.521);
          font-size: 25px;
          margin-left: 25px; }
        .container2 .block-step .step .step-content #step-text {
          font-size: 20px;
          font-weight: 500;
          margin-left: 30px;
          padding-right: 10px; }
        .container2 .block-step .step .step-content .purple-icon {
          color: #9356DC; }

.container3 {
  background-color: #F7F7F7;
  padding: 30px 30px 60px 30px; }
  .container3 h2 {
    font-size: 30px; }
  .container3 .card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    margin: 20px 0; }
    .container3 .card .card__pic {
      position: relative;
      width: 100%;
      border-radius: 20px 20px 0 0; }
      .container3 .card .card__pic img {
        object-fit: cover;
        width: 100%;
        height: 180px;
        border-radius: 20px 20px 0 0; }
      .container3 .card .card__pic .card__pic--new {
        position: absolute;
        top: 10%;
        right: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #99E2D0;
        color: #007A50;
        font-size: 18px;
        font-weight: 500;
        width: 100px;
        height: 40px;
        border-radius: 3px;
        box-shadow: 0px 3px 10px 2px #00000027; }
    .container3 .card .card__txt {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      margin: 10px 0; }
      .container3 .card .card__txt h3, .container3 .card .card__txt p {
        margin: 7px; }

button {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border-radius: 50px;
  border: none;
  font-size: 18px;
  margin-top: 15px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.349);
  cursor: pointer; }
  button:hover {
    background: linear-gradient(#ff60d3, #8641d8);
    transform: scale(1.03); }

.button-home {
  padding: 18px; }

.container-button-command {
  display: flex;
  justify-content: center; }
  .container-button-command .button-command {
    padding: 20px 50px; }

.heart {
  font-size: 25px; }

/*# sourceMappingURL=style.css.map */
