@keyframes fadein {
    from {
        transform: translateY(20px);
        opacity:0;
    }
    to {
        transform: translateY(0px);
        opacity:1;
    }
}

@keyframes pinkheart {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@keyframes checkboxSize {
    from {
        width: 0px;
    }
    to {
     width: 70px;
    }
}

@keyframes ellipsisSize{
    from{
        width: 302px;
    }
    to {
        
    }
}
    