.heart{
    font-size: 25px;
    position: relative;
}

.heart-pink{
    font-size: 25px;
    position: absolute;
    margin-left: -25px;
    color: transparent;
    cursor: pointer;
    &:hover{
        background: -webkit-linear-gradient($dark-secondary-color, $dark-primary-color);
        -webkit-background-clip: text;
    }
}

.check{
    font-size: 25px;
    color: white;
  }