.heart{
    font-size: 25px;
    position: relative;
}

.heart-pink{
    font-size: 25px;
    position: absolute;
    margin-left: -25px;
    color: transparent;
    cursor: pointer;
    &:hover{
        background: -webkit-linear-gradient($dark-secondary-color, $dark-primary-color);
        -webkit-background-clip: text;
        transition: 300ms;
        animation: pinkheart 500ms;
    }
}

.check{
    font-size: 25px;
    color: white;
    transform: rotate(360deg);
    transition-duration: 0.5s;
}

.block-menu-card:hover .check {
    transform: rotate(0);
  }