*{
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body{
    max-width: 768px;
    margin: 0 auto;
}

a{
    color: inherit;
}

@media screen and (min-width:768px){
    body{
        max-width: 992px;
    }
  }
@media screen and (min-width:992px){
    body{
        max-width: 1920px;
    }
  }