.container1{
    padding: 30px 10px 60px 10px;
    text-align: center;
    background-color: #F7F7F7;
    & h1{
        font-size: 30px;
    }
    & p{
        font-size: 20px;
        font-weight: 100;
    }
}
.container2{
    padding: 30px 30px 60px 30px;
    & h2{
        font-size: 30px;
    }
    & .block-step{
        display: flex;
        flex-direction: column;
        & .step{
            background-color: #F7F7F7;
            border-radius: 20px;
            box-shadow: 0px 3px 10px 2px #00000027;
            margin: 15px 0 15px 10px;
            padding: 15px 0 15px 0;
            &:last-child{
                background-color: $light-primary-color;
            }
            & .step-content{
                display: flex;
                flex-direction: row;
                align-items: center;
                & #step-number{
                    background-color: $primary;
                    color: white;
                    padding: 5px 10px;
                    border-radius: 100px;
                    margin-left: -15px;
                }
                & i{
                    color: rgba(0, 0, 0, 0.521) ;
                    font-size: 25px;
                    margin-left: 25px;
                }
                & #step-text{
                    font-size: 20px;
                    font-weight: 500;
                    margin-left: 30px;
                    padding-right: 10px ;
                }
                & .purple-icon{
                    color: $primary;
                }
            }
        }
    }
}

.container3{
    background-color: #F7F7F7;
    padding: 30px 30px 60px 30px;
    & h2{
        font-size: 30px;
    }
    & .card{
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 20px;
        margin: 20px 0;
        box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.103);
        &:hover{
            transform: scale(1.01);
            transition: 300ms;
        }
        & .card__pic{
            position: relative;
            width: 100%;
            border-radius: 20px 20px 0 0;
            & img{
                object-fit: cover;
                width: 100%;
                height: 180px;
                border-radius: 20px 20px 0 0;
            }
            & .card__pic--new{
                position: absolute;
                top: 10%;
                right: 5%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color:#99E2D0 ;
                color: #007A50;
                font-size: 18px;
                font-weight: 500;
                width: 100px;
                height: 40px;
                border-radius: 3px;
                box-shadow: 0px 3px 10px 2px #00000027;
            }
        }
        & .card__txt{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
            margin: 10px 0;
            & h3,p{
                margin: 7px
            }
        }
    }
}