/*------Colories------*/

$primary:#9356DC;
$dark-primary-color:darken(#9356DC,5%);
$light-primary-color:lighten(#9356DC,35%);
$secondary:#FF79DA;
$dark-secondary-color:darken(#FF79DA,5%);
$light-secondary-color:lighten(#FF79DA,30%);
$tertiary:#99E2D0;
$dark-tertiary-color:darken(#99E2D0,5%);
$light-tertiary-color:lighten(#99E2D0,30%);